---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout pageTitle={post.data.title}>
    <h1 class="text-3xl font-semibold text-neutral-50 mb-8">
        {post.data.title}
    </h1>
    <Prose>
        <Content />
    </Prose>
</Layout>
