---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import TableOfContents from "../../components/organisms/TableOfContents.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);
---

<Layout>
    <h1 class="text-3xl font-semibold text-neutral-50 mb-8">
        {post.data.title}
    </h1>
    <TableOfContents headings={headings} />
    <Prose>
        <Content />
    </Prose>
</Layout>
