---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogCard from "../../components/organisms/BlogCard.astro";

const posts = await getCollection("blog");

const sortedPosts = posts.sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout pageTitle="Posts">
    <div>
        <h1 class="tracking-tight text-neutral-50 text-3xl font-semibold mb-4">
            Posts
        </h1>
        <p class="mb-8">
            My collection of blog posts on technical topics, projects, learning,
            and more.
        </p>
        <ul>
            {
                sortedPosts.map((post) => (
                    <li class="mb-4">
                        <BlogCard
                            url={`/blog/${post.id}`}
                            title={post.data.title}
                            date={post.data.date}
                        />
                    </li>
                ))
            }
        </ul>
    </div>
</Layout>
