---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogCard from "../../components/ui/BlogCard.astro";

const posts = await getCollection("blog");

const sortedPosts = posts.sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout pageTitle="Posts">
    <div>
        <h1 class="tracking-tight text-3xl font-semibold mb-4">Posts</h1>
        <p class="mb-8">
            My collection of blog posts on technical topics, independent
            learning, and more. You can also check out the <a
                href="https://techne98.com/rss.xml"
                class="font-medium underline"
                style="color: rgb(249 115 22);">RSS Feed</a
            >.
        </p>
        <div class="grid grid-cols-1 gap-8 max-w-xl">
            {
                sortedPosts.map((post) => (
                    <BlogCard
                        url={`/blog/${post.id}`}
                        title={post.data.title}
                        date={post.data.date}
                        tags={post.data.tags || []}
                    />
                ))
            }
        </div>
    </div>
</Layout>
