@import "tailwindcss";
@plugin '@tailwindcss/typography';

body {
    background-color: #ffffff;
    color: #555555;
}

h1 {
    color: #1a1a1a;
    font-size: 2rem;
    font-weight: 700;
}

img {
    width: 100%;
}

pre {
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

hr {
    margin-bottom: 2rem;
}
