@import "tailwindcss";

body {
    background-color: #0a0a0a;
    color: #d4d4d4;
}

h1 {
    color: #f5f5f5;
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    color: #f5f5f5;
    font-weight: 600;
}

h3 {
    color: #f5f5f5;
    font-weight: 600;
}

img {
    width: 100%;
}

pre {
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

hr {
    margin-bottom: 2rem;
}
