@import "tailwindcss";
@plugin '@tailwindcss/typography';

h1 {
    font-size: 2rem;
    font-weight: 700;
}

img {
    width: 100%;
}
pre {
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}
