@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";
@plugin '@tailwindcss/typography';

@theme inline {
    --font-sans: var(--font-dm-sans);
    --font-mono: var(--font-monaspace-neon);
}

pre {
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}
