---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div>
        <h1>Get in touch</h1>
        <ul>
            <li><a href="mailto:techne98@proton.me">Email</a></li>
            <li><a href="https://github.com/techne98">GitHub</a></li>
            <li><a href="https://linkedin.com/">LinkedIn</a></li>
            <li><a href="https://youtube.com/@techne98">YouTube</a></li>
        </ul>
    </div>
</Layout>

<style>
    h1 {
        margin-bottom: 2rem;
    }

    ul {
        list-style-type: disc;
        margin-left: 1.25rem;
    }

    a {
    }
</style>
