---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Home">
    <section>
        <div class="space-y-8">
            <div>
                <h1>Hi, I'm Jack 👋</h1>
            </div>
            <p>
                I like understanding how computers work and building software.
            </p>
            <p>
                I’m currently focused on compiler engineering, PL theory, and
                FP. Also experimenting with AI.
            </p>
            <p>
                Here you'll find blog posts on such topics, as well as
                self-learning, systems development, and any other problems I am
                working on.
            </p>
            <p>
                If you'd like to work with me or just want to say hi, feel free
                to get in touch via <a href="mailto:techne98@proton.me">email</a
                >.
            </p>
        </div>
    </section></Layout
>

<style>
    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #f5f5f5;
        margin-bottom: 1.25rem;
    }

    a {
        color: #f97316;
        text-decoration: underline;
        font-weight: 500;
        transition: opacity 0.2s ease;
    }

    a:hover {
        color: #ea580c;
    }
</style>
