---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Home">
    <section>
        <div class="space-y-8">
            <div>
                <h1>Building software for developers, and writing about how it works.</h1>
            </div>
            <p>
                Hi I'm Jack, a software developer and writer from the UK.
                I am interested in developer tools, systems, and open source.
            </p>
            <p>
                I'm passionate about making complex technical topics easier to understand,
                and working on interesting problems which help humans use computers.
            </p>
            <p>
                I've worked with startups, incubators, and made some small contributions
                to open source projects.
            </p>
            <p>
                If you'd like to work with me or just want to say hi, please get in touch. 🧙‍♂️
            <p>
            <!--
            <h2>Recent Writing</h2>
            <p>
                I like to write about independent learning, developer tooling, and computer science, but you'll
                likely find all sorts of things here.
            </p>
            <p>Here are some of my recent posts.</p>
            <a>Read all articles</a>
            -->
        </div>
    </section>
</Layout>
