---
import { Font } from "astro:assets";
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="og:image" content="https://techne98.com/og.png" />
    <Font cssVariable="--font-monaspace-neon" preload />
    <title>techne98 - crafting, learning, sharing</title>
</head>
