<footer>
    <p>&copy; techne98 2026.</p>
</footer>

<style>
    footer {
        color: gray;
        margin: 0 auto;
        padding: 1.5rem;
        display: flex;
        justify-content: space-between;
    }
</style>
