<footer>
    <p>&copy; techne98 2026.</p>
    <a href="https://techne98.com/rss.xml">RSS</a>
</footer>

<style>
    footer {
        color: gray;
        max-width: 42rem;
        margin: 0 auto;
        padding: 1.5rem;
        display: flex;
        justify-content: space-between;
    }

    footer a:hover {
        text-decoration: underline;
    }
</style>
