<footer class="max-w-2xl mx-auto p-6 flex justify-between">
    <p class="font-mono text-sm uppercase">&copy; techne98 2025.</p>
    <div
        class="text-neutral-400 flex gap-4 sm:gap-8 uppercase text-sm font-mono"
        >
        <a
            class="hover:underline"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/techne98"
        >
            GitHub
        </a>
        <a
            class="hover:underline"
            href="https://youtube.com/@techne98"
            target="_blank"
            rel="noopener noreferrer"
        >
            YouTube
        </a>
    </div>
</footer>
