<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="mailto:techne98@proton.me">Contact</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    header {
        max-width: 42rem;
        margin: 0 auto;
        padding: 1.5rem;
    }

    a {
        font-weight: 500;
    }

    ul {
        display: flex;
        gap: 2rem;
    }

    li a:hover {
        text-decoration: underline;
    }
</style>
