<div class="bg-ctp-mantle border-b-ctp-mauve">
    <header class="max-w-2xl mx-auto px-6 py-6">
        <nav
            class="flex justify-between items-center font-medium text-neutral-200"
        >
            <ul class="flex gap-4 sm:gap-8">
                <li><a href="/" class="flex-none hover:underline">Home</a></li>
                <li>
                    <a class="hover:underline" href="/blog">Posts</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
