<header class="max-w-2xl mx-auto px-6 py-6">
    <nav class="flex justify-between items-center font-mono uppercase text-sm">
        <ul class="flex gap-4 sm:gap-8">
            <li>
                <a href="/"><span class="font-bold text-indigo-400">~</span>/techne98.com</a>
            </li>
            <li>
                <a class="text-neutral-400 hover:underline" href="/blog"
                    >/posts</a
                >
            </li>
            <li>
                <a class="text-neutral-400 hover:underline" href="mailto:techne98@proton.me"
                    >/contact</a
                >
            </li>

        </ul>
    </nav>
</header>
