---
import type { MarkdownHeading } from "astro";

interface Props {
    headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

{
    headings.length === 0 ? null : (
        <details class="mb-4 bg-ctp-crust p-3.5 rounded-lg cursor-pointer border border-ctp-lavender transition-all open:[&_summary]:mb-2">
            <summary class="text-base font-medium">Table of Contents</summary>
            <nav>
                <ul class="flex flex-col gap-2">
                    {headings.map((heading) => (
                        <li class="text-ctp-subtext0 font-mono text-sm hover:text-ctp-text">
                            <a href={`#${heading.slug}`}># {heading.text}</a>
                        </li>
                    ))}
                </ul>
            </nav>
        </details>
    )
}
