---
import "../styles/global.css";
import Head from "../components/Head.astro";
import Navbar from "../components/organisms/Navbar.astro";
import Footer from "../components/organisms/Footer.astro";
---

<html class="dark mocha scroll-smooth" lang="en">
    <Head />
    <body class="bg-ctp-mantle text-ctp-text text-lg antialiased">
        <Navbar />
        <main class="max-w-2xl mx-auto p-6">
            <slot />
        </main>
        <Footer />
    </body>
</html>
