---
import "../styles/global.css";
import Head from "../components/Head.astro";
import Navbar from "../components/ui/Navbar.astro";
import Footer from "../components/ui/Footer.astro";

const { pageTitle } = Astro.props;
---

<html class="scroll-smooth" lang="en">
    <Head pageTitle={pageTitle} />
    <body class="bg-stone-900 text-neutral-200">
        <Navbar />
        <div class="container">
            <main>
                <slot />
            </main>
        </div>
        <Footer />
    </body>
</html>

<style>
    body {
        font-size: 1.125rem;
    }

    .container {
        max-width: 42rem;
        margin: 0 auto;
    }

    main {
        padding: 2rem 2rem 4rem 2rem;
    }
</style>
