---
const { url, title, date, tags = [] } = Astro.props;
---

<a href={url} class="group block h-full">
    <div
        class="h-full flex flex-col gap-3 p-4 border border-stone-700 rounded-lg hover:border-stone-600 hover:bg-stone-800 transition-colors"
    >
        <h2
            class="text-lg font-semibold group-hover:text-orange-500 transition-colors"
        >
            {title}
        </h2>
        <div>
            <span class="text-xs font-mono text-gray-400">
                {date.toLocaleDateString()}
            </span>
        </div>
    </div>
</a>
