<footer>
    <div class="content">
        <p>&copy; techne98 2026.</p>
        <div class="footer-links">
            <a
                href="https://github.com/techne98"
                target="_blank"
                rel="noopenner noreferrer">GitHub</a
            >
            <a
                href="https://youtube.com/@techne98"
                target="_blank"
                rel="noopenner noreferrer">YouTube</a
            >
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: #fafaf8;
        color: #555555;
        border-top: 2px solid #e8e6e1;
    }

    .footer-links {
        display: flex;
        gap: 2rem;
    }

    .content {
        max-width: 56rem;
        margin: 0 auto;
        padding: 2rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
