<footer>
    <div class="content">
        <p>&copy; techne98 2026.</p>
        <div class="footer-links">
            <a
                href="https://youtube.com/@techne98"
                target="_blank"
                rel="noopenner noreferrer">YouTube</a
            >
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: #1a1a1a;
        color: #cccccc;
        border-top: 2px solid #333333;
    }

    footer a {
        color: #f5f5f5;
        font-weight: 400;
        transition: color 0.2s ease;
    }

    footer a:hover {
        text-decoration: underline;
        color: #f97316;
    }

    .footer-links {
        display: flex;
        gap: 2rem;
    }

    .content {
        max-width: 42rem;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
