<footer>
    <hr class="max-w-lg mx-auto border-t border-stone-600 mb-4" />
    <div class="content">
        <p class="text-neutral-400 font-medium">&copy; techne98 2026.</p>
        <p
            class="text-neutral-400 font-medium hover:text-orange-500 hover:underline"
        >
            <a
                href="https://gitlab.com/techne98"
                target="_blank"
                rel="noopenner noreferrer">gitlab</a
            >
        </p>
    </div>
</footer>

<style>
    .content {
        max-width: 36rem;
        margin: 0 auto;
        padding: 0 2rem 4rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
