<header>
    <nav>
        <ul>
            <li class="home-link">
                <a href="/">home</a>
            </li>
            <li>
                <a href="/blog">blog</a>
            </li>
            <li>
                <a href="/projects">projects</a>
            </li>
            <li>
                <a href="mailto:techne98@proton.me">contact</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    header {
        max-width: 36rem;
        margin: 0 auto;
        padding: 2rem;
    }

    a {
        font-weight: 500;
        color: rgb(243 244 246);
    }

    a:not(.home-link a) {
        transition: color 0.2s ease;
    }

    a:not(.home-link a):hover {
        text-decoration: underline;
        color: rgb(249 115 22);
    }

    ul {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    @media (max-width: 640px) {
        ul {
            flex-direction: column;
            gap: 1rem;
            align-items: flex-start;
        }
    }

</style>
